---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-Ratelimit-Reset:
      - '1535078518'
      Etag:
      - W/"51d07ef136c112f9588e9ef9cf5bf5d8"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"sfreeman422","id":16405652,"node_id":"MDQ6VXNlcjE2NDA1NjUy","avatar_url":"https://avatars3.githubusercontent.com/u/16405652?v=4","gravatar_id":"","url":"https://api.github.com/users/sfreeman422","html_url":"https://github.com/sfreeman422","followers_url":"https://api.github.com/users/sfreeman422/followers","following_url":"https://api.github.com/users/sfreeman422/following{/other_user}","gists_url":"https://api.github.com/users/sfreeman422/gists{/gist_id}","starred_url":"https://api.github.com/users/sfreeman422/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sfreeman422/subscriptions","organizations_url":"https://api.github.com/users/sfreeman422/orgs","repos_url":"https://api.github.com/users/sfreeman422/repos","events_url":"https://api.github.com/users/sfreeman422/events{/privacy}","received_events_url":"https://api.github.com/users/sfreeman422/received_events","type":"User","site_admin":false},{"login":"colinwarmstrong","id":37191523,"node_id":"MDQ6VXNlcjM3MTkxNTIz","avatar_url":"https://avatars0.githubusercontent.com/u/37191523?v=4","gravatar_id":"","url":"https://api.github.com/users/colinwarmstrong","html_url":"https://github.com/colinwarmstrong","followers_url":"https://api.github.com/users/colinwarmstrong/followers","following_url":"https://api.github.com/users/colinwarmstrong/following{/other_user}","gists_url":"https://api.github.com/users/colinwarmstrong/gists{/gist_id}","starred_url":"https://api.github.com/users/colinwarmstrong/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/colinwarmstrong/subscriptions","organizations_url":"https://api.github.com/users/colinwarmstrong/orgs","repos_url":"https://api.github.com/users/colinwarmstrong/repos","events_url":"https://api.github.com/users/colinwarmstrong/events{/privacy}","received_events_url":"https://api.github.com/users/colinwarmstrong/received_events","type":"User","site_admin":false}]'
  recorded_at: Fri, 24 Aug 2018 02:06:18 GMT
recorded_with: VCR 4.0.0
