---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4958'
      X-Ratelimit-Reset:
      - '1535078518'
      Etag:
      - W/"45cc778b64f0a2521b767185a5c9584f"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"test-organization35","id":42592263,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQyNTkyMjYz","url":"https://api.github.com/orgs/test-organization35","repos_url":"https://api.github.com/orgs/test-organization35/repos","events_url":"https://api.github.com/orgs/test-organization35/events","hooks_url":"https://api.github.com/orgs/test-organization35/hooks","issues_url":"https://api.github.com/orgs/test-organization35/issues","members_url":"https://api.github.com/orgs/test-organization35/members{/member}","public_members_url":"https://api.github.com/orgs/test-organization35/public_members{/member}","avatar_url":"https://avatars0.githubusercontent.com/u/42592263?v=4","description":"This
        is a test for an API projcet"}]'
  recorded_at: Fri, 24 Aug 2018 02:06:18 GMT
recorded_with: VCR 4.0.0
