---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100&sort=created
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Reset:
      - '1535078518'
      Etag:
      - W/"d5492495a39004a2914cdebc47bc3504"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":145581870,"node_id":"MDEwOlJlcG9zaXRvcnkxNDU1ODE4NzA=","name":"APIcurious","full_name":"JPLynch35/APIcurious","owner":{"login":"JPLynch35","id":32905782,"node_id":"MDQ6VXNlcjMyOTA1Nzgy","avatar_url":"https://avatars0.githubusercontent.com/u/32905782?v=4","gravatar_id":"","url":"https://api.github.com/users/JPLynch35","html_url":"https://github.com/JPLynch35","followers_url":"https://api.github.com/users/JPLynch35/followers","following_url":"https://api.github.com/users/JPLynch35/following{/other_user}","gists_url":"https://api.github.com/users/JPLynch35/gists{/gist_id}","starred_url":"https://api.github.com/users/JPLynch35/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JPLynch35/subscriptions","organizations_url":"https://api.github.com/users/JPLynch35/orgs","repos_url":"https://api.github.com/users/JPLynch35/repos","events_url":"https://api.github.com/users/JPLynch35/events{/privacy}","received_events_url":"https://api.github.com/users/JPLynch35/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/JPLynch35/APIcurious","description":null,"fork":false,"url":"https://api.github.com/repos/JPLynch35/APIcurious","forks_url":"https://api.github.com/repos/JPLynch35/APIcurious/forks","keys_url":"https://api.github.com/repos/JPLynch35/APIcurious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/JPLynch35/APIcurious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/JPLynch35/APIcurious/teams","hooks_url":"https://api.github.com/repos/JPLynch35/APIcurious/hooks","issue_events_url":"https://api.github.com/repos/JPLynch35/APIcurious/issues/events{/number}","events_url":"https://api.github.com/repos/JPLynch35/APIcurious/events","assignees_url":"https://api.github.com/repos/JPLynch35/APIcurious/assignees{/user}","branches_url":"https://api.github.com/repos/JPLynch35/APIcurious/branches{/branch}","tags_url":"https://api.github.com/repos/JPLynch35/APIcurious/tags","blobs_url":"https://api.github.com/repos/JPLynch35/APIcurious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/JPLynch35/APIcurious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/JPLynch35/APIcurious/git/refs{/sha}","trees_url":"https://api.github.com/repos/JPLynch35/APIcurious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/JPLynch35/APIcurious/statuses/{sha}","languages_url":"https://api.github.com/repos/JPLynch35/APIcurious/languages","stargazers_url":"https://api.github.com/repos/JPLynch35/APIcurious/stargazers","contributors_url":"https://api.github.com/repos/JPLynch35/APIcurious/contributors","subscribers_url":"https://api.github.com/repos/JPLynch35/APIcurious/subscribers","subscription_url":"https://api.github.com/repos/JPLynch35/APIcurious/subscription","commits_url":"https://api.github.com/repos/JPLynch35/APIcurious/commits{/sha}","git_commits_url":"https://api.github.com/repos/JPLynch35/APIcurious/git/commits{/sha}","comments_url":"https://api.github.com/repos/JPLynch35/APIcurious/comments{/number}","issue_comment_url":"https://api.github.com/repos/JPLynch35/APIcurious/issues/comments{/number}","contents_url":"https://api.github.com/repos/JPLynch35/APIcurious/contents/{+path}","compare_url":"https://api.github.com/repos/JPLynch35/APIcurious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/JPLynch35/APIcurious/merges","archive_url":"https://api.github.com/repos/JPLynch35/APIcurious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/JPLynch35/APIcurious/downloads","issues_url":"https://api.github.com/repos/JPLynch35/APIcurious/issues{/number}","pulls_url":"https://api.github.com/repos/JPLynch35/APIcurious/pulls{/number}","milestones_url":"https://api.github.com/repos/JPLynch35/APIcurious/milestones{/number}","notifications_url":"https://api.github.com/repos/JPLynch35/APIcurious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/JPLynch35/APIcurious/labels{/name}","releases_url":"https://api.github.com/repos/JPLynch35/APIcurious/releases{/id}","deployments_url":"https://api.github.com/repos/JPLynch35/APIcurious/deployments","created_at":"2018-08-21T15:15:39Z","updated_at":"2018-08-23T02:59:12Z","pushed_at":"2018-08-23T02:59:10Z","git_url":"git://github.com/JPLynch35/APIcurious.git","ssh_url":"git@github.com:JPLynch35/APIcurious.git","clone_url":"https://github.com/JPLynch35/APIcurious.git","svn_url":"https://github.com/JPLynch35/APIcurious","homepage":null,"size":76,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":145056742,"node_id":"MDEwOlJlcG9zaXRvcnkxNDUwNTY3NDI=","name":"rales_engine","full_name":"JPLynch35/rales_engine","owner":{"login":"JPLynch35","id":32905782,"node_id":"MDQ6VXNlcjMyOTA1Nzgy","avatar_url":"https://avatars0.githubusercontent.com/u/32905782?v=4","gravatar_id":"","url":"https://api.github.com/users/JPLynch35","html_url":"https://github.com/JPLynch35","followers_url":"https://api.github.com/users/JPLynch35/followers","following_url":"https://api.github.com/users/JPLynch35[...]
