---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4949'
      X-Ratelimit-Reset:
      - '1535078518'
      Etag:
      - W/"51d07ef136c112f9588e9ef9cf5bf5d8"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"sfreeman422","id":16405652,"node_id":"MDQ6VXNlcjE2NDA1NjUy","avatar_url":"https://avatars3.githubusercontent.com/u/16405652?v=4","gravatar_id":"","url":"https://api.github.com/users/sfreeman422","html_url":"https://github.com/sfreeman422","followers_url":"https://api.github.com/users/sfreeman422/followers","following_url":"https://api.github.com/users/sfreeman422/following{/other_user}","gists_url":"https://api.github.com/users/sfreeman422/gists{/gist_id}","starred_url":"https://api.github.com/users/sfreeman422/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sfreeman422/subscriptions","organizations_url":"https://api.github.com/users/sfreeman422/orgs","repos_url":"https://api.github.com/users/sfreeman422/repos","events_url":"https://api.github.com/users/sfreeman422/events{/privacy}","received_events_url":"https://api.github.com/users/sfreeman422/received_events","type":"User","site_admin":false},{"login":"colinwarmstrong","id":37191523,"node_id":"MDQ6VXNlcjM3MTkxNTIz","avatar_url":"https://avatars0.githubusercontent.com/u/37191523?v=4","gravatar_id":"","url":"https://api.github.com/users/colinwarmstrong","html_url":"https://github.com/colinwarmstrong","followers_url":"https://api.github.com/users/colinwarmstrong/followers","following_url":"https://api.github.com/users/colinwarmstrong/following{/other_user}","gists_url":"https://api.github.com/users/colinwarmstrong/gists{/gist_id}","starred_url":"https://api.github.com/users/colinwarmstrong/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/colinwarmstrong/subscriptions","organizations_url":"https://api.github.com/users/colinwarmstrong/orgs","repos_url":"https://api.github.com/users/colinwarmstrong/repos","events_url":"https://api.github.com/users/colinwarmstrong/events{/privacy}","received_events_url":"https://api.github.com/users/colinwarmstrong/received_events","type":"User","site_admin":false}]'
  recorded_at: Fri, 24 Aug 2018 02:06:25 GMT
- request:
    method: get
    uri: https://api.github.com/users/sfreeman422/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4948'
      X-Ratelimit-Reset:
      - '1535078518'
      Etag:
      - W/"1554ffbc27e15e9f7d27f75d5b5551b6"
      Last-Modified:
      - Wed, 22 Aug 2018 23:49:15 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/16405652/events?page=2>; rel="next", <https://api.github.com/user/16405652/events?page=5>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"8153839613","type":"PushEvent","actor":{"id":16405652,"login":"sfreeman422","display_login":"sfreeman422","gravatar_id":"","url":"https://api.github.com/users/sfreeman422","avatar_url":"https://avatars.githubusercontent.com/u/16405652?"},"repo":{"id":78309244,"name":"sfreeman422/RaspAlarm","url":"https://api.github.com/repos/sfreeman422/RaspAlarm"},"payload":{"push_id":2818443917,"size":4,"distinct_size":1,"ref":"refs/heads/master","head":"bcb6d3eaec6d3ec9276edff78d6884a7b0ed3cd3","before":"3c9a37795dafa117c883d067a10bf079685f0736","commits":[{"sha":"574946bf1b1e0f6f032dc79e51dd627a113aad90","author":{"email":"sfreeman422@gmail.com","name":"Steve
        Freeman"},"message":"Adjused hour issue","distinct":false,"url":"https://api.github.com/repos/sfreeman422/RaspAlarm/commits/574946bf1b1e0f6f032dc79e51dd627a113aad90"},{"sha":"0a5568de74f21af9814d4ef80a5510e97cd984e7","author":{"email":"sfreeman422@gmail.com","name":"sfreeman422"},"message":"Adjusted
        a type issue regarding generateWeatherState Function","distinct":false,"url":"https://api.github.com/repos/sfreeman422/RaspAlarm/commits/0a5568de74f21af9814d4ef80a5510e97cd984e7"},{"sha":"7d26de0536dbed0bca16fb4dcb9f0a90e36bd266","author":{"email":"sfreeman422@gmail.com","name":"sfreeman422"},"message":"removed
        unnecessary console.debug","distinct":false,"url":"https://api.github.com/repos/sfreeman422/RaspAlarm/commits/7d26de0536dbed0bca16fb4dcb9f0a90e36bd266"},{"sha":"bcb6d3eaec6d3ec9276edff78d6884a7b0ed3cd3","author":{"email":"sfreeman422@gmail.com","name":"Steven
        Freeman"},"message":"Merge pull request #20 from sfreeman422/develop\n\nMerge
        develop into master","distinct":true,"url":"https://api.github.com/repos/sfreeman422/RaspAlarm/commits/bcb6d3eaec6d3ec9276edff78d6884a7b0ed3cd3"}]},"public":true,"created_at":"2018-08-22T23:49:15Z"},{"id":"8153839582","type":"PullRequestEvent","actor":{"id":16405652,"login":"sfreeman422","display_login":"sfreeman422","gravatar_id":"","url":"https://api.github.com/users/sfreeman422","avatar_url":"https://avatars.githubusercontent.com/u/16405652?"},"repo":{"id":78309244,"name":"sfreeman422/RaspAlarm","url":"https://api.github.com/repos/sfreeman422/RaspAlarm"},"payload":{"action":"closed","number":20,"pull_request":{"url":"https://api.github.com/repos/sfreeman422/RaspAlarm/pulls/20","id":210294681,"node_id":"MDExOlB1bGxSZXF1ZXN0MjEwMjk0Njgx","html_url":"https://github.com/sfreeman422/RaspAlarm/pull/20","diff_url":"https://github.com/sfreeman422/RaspAlarm/pull/20.diff","patch_url":"https://github.com/sfreeman422/RaspAlarm/pull/20.patch","issue_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/issues/20","number":20,"state":"closed","locked":false,"title":"Merge
        develop into master","user":{"login":"sfreeman422","id":16405652,"node_id":"MDQ6VXNlcjE2NDA1NjUy","avatar_url":"https://avatars3.githubusercontent.com/u/16405652?v=4","gravatar_id":"","url":"https://api.github.com/users/sfreeman422","html_url":"https://github.com/sfreeman422","followers_url":"https://api.github.com/users/sfreeman422/followers","following_url":"https://api.github.com/users/sfreeman422/following{/other_user}","gists_url":"https://api.github.com/users/sfreeman422/gists{/gist_id}","starred_url":"https://api.github.com/users/sfreeman422/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sfreeman422/subscriptions","organizations_url":"https://api.github.com/users/sfreeman422/orgs","repos_url":"https://api.github.com/users/sfreeman422/repos","events_url":"https://api.github.com/users/sfreeman422/events{/privacy}","received_events_url":"https://api.github.com/users/sfreeman422/received_events","type":"User","site_admin":false},"body":"","created_at":"2018-08-22T23:49:07Z","updated_at":"2018-08-22T23:49:14Z","closed_at":"2018-08-22T23:49:14Z","merged_at":"2018-08-22T23:49:14Z","merge_commit_sha":"bcb6d3eaec6d3ec9276edff78d6884a7b0ed3cd3","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/pulls/20/commits","review_comments_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/pulls/20/comments","review_comment_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/pulls/comments{/number}","comments_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/issues/20/comments","statuses_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/statuses/7d26de0536dbed0bca16fb4dcb9f0a90e36bd266","head":{"label":"sfreeman422:develop","ref":"develop","sha":"7d26de0536dbed0bca16fb4dcb9f0a90e36bd266","user":{"login":"sfreeman422","id":16405652,"node_id":"MDQ6VXNlcjE2NDA1NjUy","avatar_url":"https://avatars3.githubusercontent.com/u/16405652?v=4","gravatar_id":"","url":"https://api.github.com/users/sfreeman422","html_url":"https://github.com/sfreeman422","followers_url":"https://api.github.com/users/sfreeman422/followers","following_url":"https://api.github.com/users/sfreeman422/following{/other_user}","gists_url":"https://api.github.com/users/sfreeman422/gists{/gist_id}","starred_url":"https://api.github.com/users/sfreeman422/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sfreeman422/subscriptions","organizations_url":"https://api.github.com/users/sfreeman422/orgs","repos_url":"https://api.github.com/users/sfreeman422/repos","events_url":"https://api.github.com/users/sfreeman422/events{/privacy}","received_events_url":"https://api.github.com/users/sfreeman422/received_events","type":"User","site_admin":false},"repo":{"id":78309244,"node_id":"MDEwOlJlcG9zaXRvcnk3ODMwOTI0NA==","name":"RaspAlarm","full_name":"sfreeman422/RaspAlarm","owner":{"login":"sfreeman422","id":16405652,"node_id":"MDQ6VXNlcjE2NDA1NjUy","avatar_url":"https://avatars3.githubusercontent.com/u/16405652?v=4","gravatar_id":"","url":"https://api.github.com/users/sfreeman422","html_url":"https://github.com/sfreeman422","followers_url":"https://api.github.com/users/sfreeman422/followers","following_url":"https://api.github.com/users/sfreeman422/following{/other_user}","gists_url":"https://api.github.com/users/sfreeman422/gists{/gist_id}","starred_url":"https://api.github.com/users/sfreeman422/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sfreeman422/subscriptions","organizations_url":"https://api.github.com/users/sfreeman422/orgs","repos_url":"https://api.github.com/users/sfreeman422/repos","events_url":"https://api.github.com/users/sfreeman422/events{/privacy}","received_events_url":"https://api.github.com/users/sfreeman422/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/sfreeman422/RaspAlarm","description":"A
        Raspberry Pi Controlled Alarm Clock","fork":false,"url":"https://api.github.com/repos/sfreeman422/RaspAlarm","forks_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/forks","keys_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/teams","hooks_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/hooks","issue_events_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/issues/events{/number}","events_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/events","assignees_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/assignees{/user}","branches_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/branches{/branch}","tags_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/tags","blobs_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/git/refs{/sha}","trees_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/statuses/{sha}","languages_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/languages","stargazers_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/stargazers","contributors_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/contributors","subscribers_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/subscribers","subscription_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/subscription","commits_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/commits{/sha}","git_commits_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/git/commits{/sha}","comments_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/comments{/number}","issue_comment_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/issues/comments{/number}","contents_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/contents/{+path}","compare_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/merges","archive_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/downloads","issues_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/issues{/number}","pulls_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/pulls{/number}","milestones_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/milestones{/number}","notifications_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/labels{/name}","releases_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/releases{/id}","deployments_url":"https://api.github.com/repos/sfreeman422/RaspAlarm/deployments","created_at":"2017-01-07T23:13:31Z","updated_at":"2018-08-19T15:29:13Z","pushed_at":"2018-08-22T23:49:14Z","git_url":"git://github.com/sfreeman422/RaspAlarm.git","ssh_url":"git@github.com:sfreeman422/RaspAlarm.git","clone_url":"https://github.com/sfreeman422/RaspAlarm.git","svn_url":"https://github.com/sfreeman422/RaspAlarm","homepage":"","size":33804,"stargazers_count":9,"watchers_count":9,"language":"CSS","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":5,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":5,"open_issues":0,"watchers":9,"default_branch":"master"}},"base":{"label":"sfreeman422:master","ref":"master","sha":"3c9a37795dafa117c883d067a10bf079685f0736","user":{"login":"sfreeman422","id":16405652,"node_id":"MDQ6VXNlcjE2NDA1NjUy","avatar_url":"https://avatars3.githubusercontent.com/u/16405652?v=4","gravatar_id":"","url":"https://api.github.com/users/sfreeman422","html_url":"https://github.com/sfreeman422","followers_url":"https://api.github.com/users/sfreeman422/followers","following_url":"https://api.github.com/users/sfreeman422/following{/other_user}"[...]
- request:
    method: get
    uri: https://api.github.com/users/colinwarmstrong/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4947'
      X-Ratelimit-Reset:
      - '1535078518'
      Eta[...]
