---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4946'
      X-Ratelimit-Reset:
      - '1535078518'
      Etag:
      - W/"49bfbfb818111557d025df697178f9f5"
      Last-Modified:
      - Thu, 23 Aug 2018 00:57:59 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"JPLynch35","id":32905782,"node_id":"MDQ6VXNlcjMyOTA1Nzgy","avatar_url":"https://avatars0.githubusercontent.com/u/32905782?v=4","gravatar_id":"","url":"https://api.github.com/users/JPLynch35","html_url":"https://github.com/JPLynch35","followers_url":"https://api.github.com/users/JPLynch35/followers","following_url":"https://api.github.com/users/JPLynch35/following{/other_user}","gists_url":"https://api.github.com/users/JPLynch35/gists{/gist_id}","starred_url":"https://api.github.com/users/JPLynch35/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JPLynch35/subscriptions","organizations_url":"https://api.github.com/users/JPLynch35/orgs","repos_url":"https://api.github.com/users/JPLynch35/repos","events_url":"https://api.github.com/users/JPLynch35/events{/privacy}","received_events_url":"https://api.github.com/users/JPLynch35/received_events","type":"User","site_admin":false,"name":"JP","company":null,"blog":"","location":"Denver,
        CO","email":null,"hireable":null,"bio":"Former mechanical engineer, pursuing
        back end engineering at the Turing School of Software & Design","public_repos":38,"public_gists":11,"followers":4,"following":2,"created_at":"2017-10-18T14:57:58Z","updated_at":"2018-08-23T00:57:59Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":14269,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Fri, 24 Aug 2018 02:06:27 GMT
recorded_with: VCR 4.0.0
