---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4957'
      X-Ratelimit-Reset:
      - '1535078518'
      Etag:
      - W/"49bfbfb818111557d025df697178f9f5"
      Last-Modified:
      - Thu, 23 Aug 2018 00:57:59 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"JPLynch35","id":32905782,"node_id":"MDQ6VXNlcjMyOTA1Nzgy","avatar_url":"https://avatars0.githubusercontent.com/u/32905782?v=4","gravatar_id":"","url":"https://api.github.com/users/JPLynch35","html_url":"https://github.com/JPLynch35","followers_url":"https://api.github.com/users/JPLynch35/followers","following_url":"https://api.github.com/users/JPLynch35/following{/other_user}","gists_url":"https://api.github.com/users/JPLynch35/gists{/gist_id}","starred_url":"https://api.github.com/users/JPLynch35/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JPLynch35/subscriptions","organizations_url":"https://api.github.com/users/JPLynch35/orgs","repos_url":"https://api.github.com/users/JPLynch35/repos","events_url":"https://api.github.com/users/JPLynch35/events{/privacy}","received_events_url":"https://api.github.com/users/JPLynch35/received_events","type":"User","site_admin":false,"name":"JP","company":null,"blog":"","location":"Denver,
        CO","email":null,"hireable":null,"bio":"Former mechanical engineer, pursuing
        back end engineering at the Turing School of Software & Design","public_repos":38,"public_gists":11,"followers":4,"following":2,"created_at":"2017-10-18T14:57:58Z","updated_at":"2018-08-23T00:57:59Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":14269,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Fri, 24 Aug 2018 02:06:19 GMT
- request:
    method: get
    uri: https://api.github.com/users/JPLynch35/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1535078518'
      Etag:
      - W/"71333f189f602353f27fd91a0e78547a"
      Last-Modified:
      - Thu, 23 Aug 2018 02:59:11 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/32905782/events?page=2>; rel="next", <https://api.github.com/user/32905782/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"8154386805","type":"PushEvent","actor":{"id":32905782,"login":"JPLynch35","display_login":"JPLynch35","gravatar_id":"","url":"https://api.github.com/users/JPLynch35","avatar_url":"https://avatars.githubusercontent.com/u/32905782?"},"repo":{"id":145581870,"name":"JPLynch35/APIcurious","url":"https://api.github.com/repos/JPLynch35/APIcurious"},"payload":{"push_id":2818724446,"size":2,"distinct_size":1,"ref":"refs/heads/master","head":"0d594c07445b61595aed0baa08f8f8fb9f93d40a","before":"e622345b06bc49bae040cdbea89b458b54c32e1a","commits":[{"sha":"6e7ecee91bb9f10b1fe25fb5c6eddeb7e5ece9c3","author":{"email":"JPLynch35@gmail.com","name":"JP
        Lynch"},"message":"add tests and functionality for following recent activity","distinct":false,"url":"https://api.github.com/repos/JPLynch35/APIcurious/commits/6e7ecee91bb9f10b1fe25fb5c6eddeb7e5ece9c3"},{"sha":"0d594c07445b61595aed0baa08f8f8fb9f93d40a","author":{"email":"32905782+JPLynch35@users.noreply.github.com","name":"JP"},"message":"Merge
        pull request #10 from JPLynch35/recent_activity\n\nadd tests and functionality
        for following recent activity","distinct":true,"url":"https://api.github.com/repos/JPLynch35/APIcurious/commits/0d594c07445b61595aed0baa08f8f8fb9f93d40a"}]},"public":true,"created_at":"2018-08-23T02:59:11Z"},{"id":"8154386786","type":"PullRequestEvent","actor":{"id":32905782,"login":"JPLynch35","display_login":"JPLynch35","gravatar_id":"","url":"https://api.github.com/users/JPLynch35","avatar_url":"https://avatars.githubusercontent.com/u/32905782?"},"repo":{"id":145581870,"name":"JPLynch35/APIcurious","url":"https://api.github.com/repos/JPLynch35/APIcurious"},"payload":{"action":"closed","number":10,"pull_request":{"url":"https://api.github.com/repos/JPLynch35/APIcurious/pulls/10","id":210317400,"node_id":"MDExOlB1bGxSZXF1ZXN0MjEwMzE3NDAw","html_url":"https://github.com/JPLynch35/APIcurious/pull/10","diff_url":"https://github.com/JPLynch35/APIcurious/pull/10.diff","patch_url":"https://github.com/JPLynch35/APIcurious/pull/10.patch","issue_url":"https://api.github.com/repos/JPLynch35/APIcurious/issues/10","number":10,"state":"closed","locked":false,"title":"add
        tests and functionality for following recent activity","user":{"login":"JPLynch35","id":32905782,"node_id":"MDQ6VXNlcjMyOTA1Nzgy","avatar_url":"https://avatars0.githubusercontent.com/u/32905782?v=4","gravatar_id":"","url":"https://api.github.com/users/JPLynch35","html_url":"https://github.com/JPLynch35","followers_url":"https://api.github.com/users/JPLynch35/followers","following_url":"https://api.github.com/users/JPLynch35/following{/other_user}","gists_url":"https://api.github.com/users/JPLynch35/gists{/gist_id}","starred_url":"https://api.github.com/users/JPLynch35/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JPLynch35/subscriptions","organizations_url":"https://api.github.com/users/JPLynch35/orgs","repos_url":"https://api.github.com/users/JPLynch35/repos","events_url":"https://api.github.com/users/JPLynch35/events{/privacy}","received_events_url":"https://api.github.com/users/JPLynch35/received_events","type":"User","site_admin":false},"body":"add
        tests and functionality for following recent activity","created_at":"2018-08-23T02:59:05Z","updated_at":"2018-08-23T02:59:10Z","closed_at":"2018-08-23T02:59:10Z","merged_at":"2018-08-23T02:59:10Z","merge_commit_sha":"0d594c07445b61595aed0baa08f8f8fb9f93d40a","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/JPLynch35/APIcurious/pulls/10/commits","review_comments_url":"https://api.github.com/repos/JPLynch35/APIcurious/pulls/10/comments","review_comment_url":"https://api.github.com/repos/JPLynch35/APIcurious/pulls/comments{/number}","comments_url":"https://api.github.com/repos/JPLynch35/APIcurious/issues/10/comments","statuses_url":"https://api.github.com/repos/JPLynch35/APIcurious/statuses/6e7ecee91bb9f10b1fe25fb5c6eddeb7e5ece9c3","head":{"label":"JPLynch35:recent_activity","ref":"recent_activity","sha":"6e7ecee91bb9f10b1fe25fb5c6eddeb7e5ece9c3","user":{"login":"JPLynch35","id":32905782,"node_id":"MDQ6VXNlcjMyOTA1Nzgy","avatar_url":"https://avatars0.githubusercontent.com/u/32905782?v=4","gravatar_id":"","url":"https://api.github.com/users/JPLynch35","html_url":"https://github.com/JPLynch35","followers_url":"https://api.github.com/users/JPLynch35/followers","following_url":"https://api.github.com/users/JPLynch35/following{/other_user}","gists_url":"https://api.github.com/users/JPLynch35/gists{/gist_id}","starred_url":"https://api.github.com/users/JPLynch35/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JPLynch35/subscriptions","organizations_url":"https://api.github.com/users/JPLynch35/orgs","repos_url":"https://api.github.com/users/JPLynch35/repos","events_url":"https://api.github.com/users/JPLynch35/events{/privacy}","received_events_url":"https://api.github.com/users/JPLynch35/received_events","type":"User","site_admin":false},"repo":{"id":145581870,"node_id":"MDEwOlJlcG9zaXRvcnkxNDU1ODE4NzA=","name":"APIcurious","full_name":"JPLynch35/APIcurious","owner":{"login":"JPLynch35","id":32905782,"node_id":"MDQ6VXNlcjMyOTA1Nzgy","avatar_url":"https://avatars0.githubusercontent.com/u/32905782?v=4","gravatar_id":"","url":"https://api.github.com/users/JPLynch35","html_url":"https://github.com/JPLynch35","followers_url":"https://api.github.com/users/JPLynch35/followers","following_url":"https://api.github.com/users/JPLynch35/following{/other_user}","gists_url":"https://api.github.com/users/JPLynch35/gists{/gist_id}","starred_url":"https://api.github.com/users/JPLynch35/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JPLynch35/subscriptions","organizations_url":"https://api.github.com/users/JPLynch35/orgs","repos_url":"https://api.github.com/users/JPLynch35/repos","events_url":"https://api.github.com/users/JPLynch35/events{/privacy}","received_events_url":"https://api.github.com/users/JPLynch35/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/JPLynch35/APIcurious","description":null,"fork":false,"url":"https://api.github.com/repos/JPLynch35/APIcurious","forks_url":"https://api.github.com/repos/JPLynch35/APIcurious/forks","keys_url":"https://api.github.com/repos/JPLynch35/APIcurious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/JPLynch35/APIcurious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/JPLynch35/APIcurious/teams","hooks_url":"https://api.github.com/repos/JPLynch35/APIcurious/hooks","issue_events_url":"https://api.github.com/repos/JPLynch35/APIcurious/issues/events{/number}","events_url":"https://api.github.com/repos/JPLynch35/APIcurious/events","assignees_url":"https://api.github.com/repos/JPLynch35/APIcurious/assignees{/user}","branches_url":"https://api.github.com/repos/JPLynch35/APIcurious/branches{/branch}","tags_url":"https://api.github.com/repos/JPLynch35/APIcurious/tags","blobs_url":"https://api.github.com/repos/JPLynch35/APIcurious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/JPLynch35/APIcurious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/JPLynch35/APIcurious/git/refs{/sha}","trees_url":"https://api.github.com/repos/JPLynch35/APIcurious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/JPLynch35/APIcurious/statuses/{sha}","languages_url":"https://api.github.com/repos/JPLynch35/APIcurious/languages","stargazers_url":"https://api.github.com/repos/JPLynch35/APIcurious/stargazers","contributors_url":"https://api.github.com/repos/JPLynch35/APIcurious/contributors","subscribers_url":"https://api.github.com/repos/JPLynch35/APIcurious/subscribers","subscription_url":"https://api.github.com/repos/JPLynch35/APIcurious/subscription","commits_url":"https://api.github.com/repos/JPLynch35/APIcurious/commits{/sha}","git_commits_url":"https://api.github.com/repos/JPLynch35/APIcurious/git/commits{/sha}","comments_url":"https://api.github.com/repos/JPLynch35/APIcurious/comments{/number}","issue_comment_url":"https://api.github.com/repos/JPLynch35/APIcurious/issues/comments{/number}","contents_url":"https://api.github.com/repos/JPLynch35/APIcurious/contents/{+path}","compare_url":"https://api.github.com/repos/JPLynch35/APIcurious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/JPLynch35/APIcurious/merges","archive_url":"https://api.github.com/repos/JPLynch35/APIcurious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/JPLynch35/APIcurious/downloads","issues_url":"https://api.github.com/repos/JPLynch35/APIcurious/issues{/number}","pulls_url":"https://api.github.com/repos/JPLynch35/APIcurious/pulls{/number}","milestones_url":"https://api.github.com/repos/JPLynch35/APIcurious/milestones{/number}","notifications_url":"https://api.github.com/repos/JPLynch35/APIcurious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/JPLynch35/APIcurious/labels{/name}","releases_url":"https://api.github.com/repos/JPLynch35/APIcurious/releases{/id}","deployments_url":"https://api.github.com/repos/JPLynch35/APIcurious/deployments","created_at":"2018-08-21T15:15:39Z","updated_at":"2018-08-23T02:04:57Z","pushed_at":"2018-08-23T02:59:10Z","git_url":"git://github.com/JPLynch35/APIcurious.git","ssh_url":"git@github.com:JPLynch35/APIcurious.git","clone_url":"https://github.com/JPLynch35/APIcurious.git","svn_url":"https://github.com/JPLynch35/APIcurious","homepage":null,"size":60,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"JPLynch35:master","ref":"master","sha":"e622345b06bc49bae040cdbea89b458b54c32e1a","user":{"login":"JPLynch35","id":32905782,"node_id":"MDQ6VXNlcjMyOTA1Nzgy","avatar_url":"https://avatars0.githubusercontent.com/u/32905782?v=4","gravatar_id":"","url":"https://api.github.com/users/JPLynch35","html_url":"https://github.com/JPLynch35","followers_url":"https://api.github.com/users/JPLynch35/followers","following_url":"https://api.github.com/users/JPLynch35/following{/other_user}","gists_url"[...]
