---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4945'
      X-Ratelimit-Reset:
      - '1535078518'
      Etag:
      - W/"9783540fe1ca644a75e4c75a3925d236"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"sfreeman422","id":16405652,"node_id":"MDQ6VXNlcjE2NDA1NjUy","avatar_url":"https://avatars3.githubusercontent.com/u/16405652?v=4","gravatar_id":"","url":"https://api.github.com/users/sfreeman422","html_url":"https://github.com/sfreeman422","followers_url":"https://api.github.com/users/sfreeman422/followers","following_url":"https://api.github.com/users/sfreeman422/following{/other_user}","gists_url":"https://api.github.com/users/sfreeman422/gists{/gist_id}","starred_url":"https://api.github.com/users/sfreeman422/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sfreeman422/subscriptions","organizations_url":"https://api.github.com/users/sfreeman422/orgs","repos_url":"https://api.github.com/users/sfreeman422/repos","events_url":"https://api.github.com/users/sfreeman422/events{/privacy}","received_events_url":"https://api.github.com/users/sfreeman422/received_events","type":"User","site_admin":false},{"login":"TristanB17","id":33517218,"node_id":"MDQ6VXNlcjMzNTE3MjE4","avatar_url":"https://avatars2.githubusercontent.com/u/33517218?v=4","gravatar_id":"","url":"https://api.github.com/users/TristanB17","html_url":"https://github.com/TristanB17","followers_url":"https://api.github.com/users/TristanB17/followers","following_url":"https://api.github.com/users/TristanB17/following{/other_user}","gists_url":"https://api.github.com/users/TristanB17/gists{/gist_id}","starred_url":"https://api.g[...]
